ansible==10.3.0
ansible-compat==24.8.0
ansible-core==2.17.3
attrs==24.2.0
bracex==2.5
cffi==1.17.0
click==8.1.7
click-help-colors==0.9.4
cryptography==43.0.0
enrich==1.2.7
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
molecule==24.8.0
packaging==24.1
pluggy==1.5.0
pycparser==2.22
Pygments==2.18.0
PyYAML==6.0.2
referencing==0.35.1
resolvelib==1.0.1
rich==13.8.0
rpds-py==0.20.0
subprocess-tee==0.4.2
wcmatch==9.0
